@import "tailwindcss";

:root {
  --background: #01060b;
  --accent: #60d1a4;
  --secodary: #0880a3;
  --primary: #336aa1;
  --bg: #d9d9d916;
}

@theme {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-secondary: var(--secodary);
  --color-primary: var(--primary);
  --color-project-card: var(--bg);
}

body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

@utility text-glow-white {
  text-shadow:
    0 0 6px rgb(255, 255, 255, 0.1),
    0 0 18px rgb(255, 255, 255, 0.2),
    0 0 32px rgb(255, 255, 255, 0.2);
}

@utility text-glow-accent {
  text-shadow:
    0 0 6px rgb(96, 209, 164, 0.1),
    0 0 18px rgb(96, 209, 164, 0.2),
    0 0 32px rgb(96, 209, 164, 0.2);
}

@utility text-glow-primary {
  text-shadow:
    0 0 6px rgb(51, 106, 161, 0.1),
    0 0 18px rgb(51, 106, 161, 0.2),
    0 0 32px rgb(51, 106, 161, 0.2);
}
@utility box-glow-primary {
  box-shadow:
    0 0 40px 10px rgb(51, 106, 161, 0.1),
    0 0 80px 20px rgb(51, 106, 161, 0.2);
}
@keyframes rotate-word {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-rotate-word {
  animation: rotate-word 0.7s ease-out both;
}
