@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #01060b;
  --accent: #60d1a4;
  --secodary: #0880a3;
  --primary: #336aa1;
}

@theme {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-secondary: var(--secodary);
  --color-primary: var(--primary);
}

body {
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
}

.text-glow-white {
  text-shadow:
    0 0 6px rgb(255, 255, 255, 0.1),
    0 0 18px rgb(255, 255, 255, 0.2),
    0 0 32px rgb(255, 255, 255, 0.2);
}

.text-glow-accent {
  text-shadow:
    0 0 6px rgb(96, 209, 164, 0.1),
    0 0 18px rgb(96, 209, 164, 0.2),
    0 0 32px rgb(96, 209, 164, 0.2);
}
